---
layout: page_default
title: 'The Magnus Protocol'
---

{% include latest-news-bar.html %}

<br/>

<details>
	<summary>
		A quick disclaimer (click to expand)
	</summary>
	<div class="details">

	<p>Hi everyone, I'm glad this website has been of use to you! I want to clarify something quickly.</p>

	<p><b>TL;DR:</b> These transcripts are fan-edited versions of the Rusty Quill official transcripts. If you want to theorize based on transcript details, please use the official transcripts themselves, which are linked <a href="https://rustyquillcom.sharepoint.com/:f:/g/ElFMfJSzHzRMhhWGghFX8E8Bg27o0_Amiemvu0Hqq8D6Yg">here</a> and at the beginning of each episode transcript.</p>

	<p><b>Longer explanation:</b> Rusty Quill releases PDF transcripts for each episode of the Magnus Protocol. They are shooting scripts, however, which means that they have more details on setting than could be conceivably deduced from audio (e.g. the description of Lena's office in MAGP001), some script deviation from the actual dialogue, and fewer tone markers for major characters.</p>

	<p>The transcripts on this page are just the Rusty Quill ones formatted into HTML for your easier linking/copy-pasting purposes, but I have also taken the liberty of fixing some lines that changed during recording, editing some soundscape descriptions so they better match what I can pick up on while listening, and adding some tone markers.</p>

	<p>All of this is to say: A lot of the wording in the transcripts' "stage directions" is written by me, a random podcast fan with no connection to Rusty Quill. I think they are good descriptions of what happens in the episode (and if they're not, you can always fill out <a href="{{site.correction_form}}">the feedback form</a> to tell me). But please don't take it as authorial intent without looking at the originals!</p>

	<p>That's all. Have a good day, and protocol on. :)</p>

	</div>
</details>

<table class="toc-table">
<tbody>
{% assign episodes = site.posts | reverse %}
{% for post in episodes %}
	{% if post.podcasts contains "tmagp" %}
		{% unless post.episode_type contains "special" %}
			<tr>
				{% assign url = post.url | prepend: site.baseurl %}
				<td class="ep-number"><a href="{{ url }}">{{ post.episode_number | escape }}</a></td>
				<td class="ep-title"><a href="{{ url }}">{{ post.episode_title | escape }}</a></td>
				<td class="ep-status">
					{%- if post.trailer %}<a class="trailer" href="{{ url }}">TRAILER</a> {% endif -%}
					{%- if post.epilogue %}<a class="epilogue" href="{{ url }}">EPILOGUE</a> {% endif -%}
					<!-- {%- unless post.official %}<a class="unofficial" href="{{ url }}">UNOFFICIAL</a> {% endunless -%} -->
					{%- if post.episode_type contains "incomplete" %}<a class="incomplete" href="{{ url }}">INCOMPLETE</a> {% endif -%}
				</td>
				<td class="ep-date"><a href="{{ url }}">{{ post.date | date: "%Y&#8209;%m&#8209;%d" }}</a></td>
			</tr>
		{% endunless %}
	{% endif %}
{% endfor %}
</tbody>
</table>

<br/>

<h2><i>Specials</i></h2>
<table class="toc-table">
<tbody>
{% assign episodes = site.posts | reverse %}
{% for post in episodes %}
	{% if post.podcasts contains "tmagp" %}
		{% if post.episode_type contains "special" %}
			<tr>
				{% assign url = post.url | prepend: site.baseurl %}
				<td class="ep-number"><a href="{{ url }}">{{ post.episode_number | escape }}</a></td>
				<td class="ep-title"><a href="{{ url }}">{{ post.episode_title | escape }}</a></td>
				<td class="ep-status">
					{%- if post.episode_type contains "incomplete" %}<a class="incomplete" href="{{ url }}">INCOMPLETE</a> {% endif -%}
				</td>
				<td class="ep-date"><a href="{{ url }}">{{ post.date | date: "%Y&#8209;%m&#8209;%d" }}</a></td>
			</tr>
		{% endif %}
	{% endif %}
{% endfor %}
</tbody>
</table>