<div class="post-nav">
  <div class="previous">
    {% if page.prev_episode %}
    <a href="{{ site.baseurl }}/{{ page.categories[0] }}/{{ page.prev_episode }}.html">
      <span>← {{ page.title_prefix }}{{ page.prev_episode_num }}</span>
      {{ page.prev_episode_title }}
    </a>
    {% endif %}
  </div>
  <div class="next">
    {% if page.next_episode %}
    <a href="{{ site.baseurl }}/{{ page.categories[0] }}/{{ page.next_episode }}.html">
      <span>{{ page.title_prefix }}{{ page.next_episode_num }} →</span>
      {{ page.next_episode_title }}
    </a>
    {% endif %}
  </div>
</div><!-- /div.post-nav -->